body {
    background-color: #FBE4FF;
    margin: 0 auto;
}

header {
    margin: 0 auto;
    background-color: #243B93;
}

.header_content {
    margin: 0 auto;
    display: flex;
    max-width: 1320px;
    height: 65px;
    box-sizing: border-box;
    padding-top: 7px;
    padding-bottom: 8px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 140px;
    height: 50px;
}

.globe {
    width: 55.56px;
    height: 50px;
}

.header_nav {
    font-family: 'PT Sans';
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 0.16em;
    padding-top: 8px;

}

.header_lang {
    font-family: 'PT Sans';
    font-size: 28px;
    font-weight: 700;
    color: #FFFFFF;
    padding-left: 10px;
    box-sizing: border-box;
}

.language {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    background-color: #BFF0FF;

}

.title_text {
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 85px;
    max-width: 1320px;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;
    color: #202846;
}

.place_list {
    padding-top: 27px;
}

.choose_location {
    margin: 0 auto;
    max-width: 1320px;
    height: 57px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    padding-left: 501px;
    padding-right: 12px;
    box-sizing: border-box;
    margin-bottom: 30px;
    color: #0000009C;
}

.card {
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    max-width: 1320px;
    background: linear-gradient(92.95deg, #ADCBD5 0%, #00AEE6 100%);
    min-height: 300px;
    position: relative;
    margin-bottom: 42px;
}

.card:hover {
    cursor: pointer;
    background-color: #2CBDEB;
    box-shadow: 0px 0px 60px 0px #2CBDEB;
    transition: ease-in .05s;
}

.card img {
    width: 447px;
    height: 246px;
    padding: 33px 0px 21px 52px;
}

.main_info {
    max-width: 739px;
    padding-left: 30px;
}

.card_name {
    font-family: 'PT Sans';
    font-weight: 700;
    font-style: italic;
    font-size: 36px;
    color: #353C57;
    line-height: 46.62px;
    margin-top: 14px;
    margin-bottom: 0px;
}

.card_line {
    max-width: 739px;
    height: 3px;
    background-color: #FFFFFF;
}

.card_text {
    background-color: #EDFBFF;
    min-height: 205px;
    margin-top: 10px;
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 22px;
    line-height: 28.49px;
    box-sizing: border-box;
    padding-top: 13px;
    padding-left: 16px;
    color: #202846;
}

.card svg {
    position: absolute;
    right: 10px;
    top: 6px;
}

.card path:hover {
    fill: #FFF500;
}

.card_button {
    width: 210px;
    height: 46px;
    background-color: #243B93;
    border-radius: 30px;
    display: flex;
    position: absolute;
    bottom: 11px;
    right: -33px;
    box-sizing: border-box;
    padding: 4px 32px 11px 38px;
}

.card_button_text {
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 24px;
    line-height: 31.08px;
    color: #FFFFFF;
    text-decoration: none;
}

.card_button:hover, .change_avatar:hover,
.settings:hover, .buttom_exit:hover {
    background-color: #EF075B;
}

.title2 {
    background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
}

.title2_text {
    margin: 0 auto;
    margin-top: 39px;
    display: flex;
    align-items: center;
    height: 85px;
    max-width: 1320px;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;
    color: #202846;
}

.contact {
    display: flex;
    margin: 0 auto;
    margin-top: 36px;
    background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.5) 100%);
    width: 1318px;
    height: 498px;
}

.option {
    display: flex;
}

.avatar {
    width: 196px;
    height: 184px;
    padding-top: 77px;
    padding-left: 167px;
    padding-right: 168px;
}

.change_avatar,
.settings {
    width: 250px;
    height: 50px;
    background-color: #243B93;
    border-radius: 30px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}


.change_avatar_buttom {
    padding-top: 35px;
    padding-left: 148px;
}

.settings_buttom {
    padding-top: 26px;
    padding-left: 148px;
}

.settings {
    background-color: #243B93;
}

.change_avatar_text,
.settings_text {
    font-family: 'PT Sans';
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    color: white;
}

.right_side {
    width: 739px;
    padding-top: 46px;
}

.bold {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    display: flex;
    align-items: center;
    color: #353C57;
    padding-right: 15px;
    height: 80px;

}

.normal {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
    line-height: 47px;
    display: flex;
    align-items: center;
    height: 80px;
}

.title3 {
    background: linear-gradient(90deg, #54D6FF 0%, #FFE600 100%);
}

.title3_text {
    margin: 0 auto;
    margin-top: 0px;
    display: flex;
    align-items: center;
    height: 85px;
    max-width: 1320px;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;
    color: #202846;
}

.buttom_e {
    padding-top: 19px;
    padding-bottom: 56px;
}

.buttom_exit {
    margin: 0 auto;
    height: 50px;
    width: 174px;
    border-radius: 30px;
    background-color: #243B93;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;

}

.buttom_exit_text {
    font-family: PT Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.contacts {
    display: flex;
    max-width: 1328px;
    margin: 0 auto;
    justify-content: space-between;
}

.tel_word,
.adress_word,
.mail_word {
    font-family: PT Sans;
    font-size: 32px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    color: #000000;
}

.number,
.position,
.e-mail {
    font-family: PT Sans;
    font-size: 30px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0em;
    color: #000000;
}

.tel_line,
.adress_line,
.mail_line {
    height: 3px;
    background-color: #202846;
}

.tel_line {
    width: 244px;
}

.adress_line {
    width: 386px;
}

.mail_line {
    width: 264px;
}

iframe {
    border: 3px solid #243B93;
    border-radius: 40px;
    min-width: 499px;
    min-height: 290px;
}

.cantacts_left_side,
.contacts_middle_side,
.contacts_right_side {
    margin-top: 25px;
}

.adress_word {
    margin-top: 16px;
}

.title_4 {
    margin: 0 auto;
}

footer {
    background-color: #243B93;

}

.title4_text {
    margin: 0 auto;
    margin-top: 28px;
    font-family: 'PT Sans';
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    height: 65px;
    letter-spacing: 0.16em;
    padding-top: 8px;
    max-width: 1318px;
    display: flex;
    align-items: center;
}

.nav_arrow {
    width: 101px;
    height: 101px;
    background-color: rgba(48, 12, 106, 0.3);
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    position: fixed;
    bottom: 25px;
    right: 30px;
    z-index: 1;
}

.arrow_up {
    margin: 0 auto;
}

.nav_arrow:hover {
    background-color: rgba(0, 21, 255, 0.507);
}