h1 {
    font-family: 'Public Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
}

.mandatory_field {
    font-family: 'Public Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    margin-top: 79px;
    margin-bottom: 0px;
}


.red_star {
    color: #D83933;
}

h2 {
    font-family: Public Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
}

.header2 {
    margin-top: 24px;
}

.body_content {
    max-width: 904px;
    min-width: 700px;
    margin: 0 auto;
}

.information_content,
.official_use_content,
.maternity_information_content,
.system_info_content {
    display: flex;
}

.displayblock {
    display: block;
    box-sizing: border-box;
    min-width: 392px;
    height: 40px;
    margin-top: 8px;
    font-family: 'Public Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    padding-left: 10px;
}

body {
    background-color: #F9F9F9;
}

.information_right_column,
.maternity_information_right_column,
.official_use_right_column,
.system_info_right_column {
    margin-left: 32px;
}

label {
    display: block;
    margin-top: 21px;
    font-family: 'Public Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;

}

.purged_block {
    display: inline-block;
    margin-top: 155px;
    margin-bottom: 23px;
}

.exempt {
    margin-top: 0px;
}

.fee_processed {
    display: inline-block;
}


input[id="enroll_date"],
input[id="enroll_sub_date"] {
    background-color: #EFEFEF;
}

.app_reg_text_color {
    color: #0050D8;
}

.arrow_down_background {
    appearance: none;
    background-image: url("./img/arrow_down.svg");
    background-repeat: no-repeat;
    background-position: 97%;
}

input[type=date]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.calend_background {
    appearance: none;
    background-image: url("./img/calendar.svg");
    background-repeat: no-repeat;
    background-position: 98%;
}

label input {
    display: none;
}

label.purged_block span,
label.fee_processed span,
label.unborn_child span {
    height: 24px;
    width: 24px;
    border: 1px solid #ADADAD;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    background-color: #FFF;
}

[type=checkbox]:checked+span:before {
    content: url("./img/checkbox.svg");
}


.purged_block,
.fee_processed,
.unborn_child {
    display: flex;
    align-items: center;
    gap: 8px;
}

.line_container {
    border: 1px solid #D1D1D1;
    margin-top: 27px;
}

body {
    display: flex;
    justify-content: center;
}


.maternity_information_left_column {
    max-width: 392px;
}

.header2 {
    margin-top: 32px;
}

.search_background {
    appearance: none;
    background-image: url("./img/search.svg");
    background-repeat: no-repeat;
    background-position: 97%;
}

.search_background {
    color: #0050D8;
}

.buttonx {
    height: 40px;
    width: 69px;
    border-radius: 4px;
    background: #0050D8;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
}

.form_button {
    margin-top: 16px;
    margin-bottom: 110px;
    display: flex;
    justify-content: flex-end;
}


input[type=search]::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: none;
}


input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration { 
    /* display: none;  */
    padding-left: 15px;
}

input.calend_background {
    color: #747474;
}

.unborn_child_container {
    width: 392px;
}
