ul {
  list-style: none;
}

.main {
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto;
}

.timer-container {
  display: flex;
  justify-content: end;
  padding-right: 10px;

}

.timer {
  border: 5px solid black;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  font-size: 22px;
  font-weight: 500;
  position: fixed;
  top: 5px;
}

.timer__btn {
  font-size: 22px;
  vertical-align: middle;
}

.timer__btn:hover {
  cursor: pointer;
  font-weight: 700;
}

.hidden {
  height: 1px;
  margin: -1px;
  visibility: hidden;
  font-size: 1px;
  box-sizing: border-box;
  overflow: hidden;
}

.form {
  margin: auto;
  margin-top: 160px;
  width: 1000px;
}

.student-info {
  display: flex;
  justify-content: space-evenly;
  margin-top:20px;
  margin-bottom: 20px;
}

.blue {
  color: blue;
}

.red {
  color: rgb(218, 83, 60);
}