* {
    margin: 0;
    padding: 0;
  }
  
  .football {
    padding: 30px;
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 700px;
    position: relative;
  }
  
  .ball {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 5;
    background-image: url("img/ball.png");
  }
  
  .football_score {
    position: absolute;
    top: 0;
    display: flex;
    background-color: white;
  }
  
  .football_scoreLeft,
  .football_scoreRight {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    font-size: 28px;
    background-color: yellow;
  }
  
  .football__field {
    width: 600px;
    height: 600px;
    border: 2px solid white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url("img/lawn.jpeg");
  }
  
  .football__fieldRight {
    justify-content: flex-end;
  }
  
  .football__goal {
    width: 80px;
    height: 180px;
    border: 3px solid white;
    border-radius: 0 10px 10px 0;
  }
  
  .football__goalRight {
    border-radius: 10px 0 0 10px;
  }
  
  .football__circleSmall {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 325px;
    background-color: white;
    border-radius: 50%;
  }