* {
    box-sizing: border-box;
  }
  body {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
  }
  h1,
  h3 {
    text-align: center;
  }
  button,
  button:active,
  button:hover {
    border: none;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 120px;
    margin: auto;
    margin-bottom: 10px;
    padding: 20px;
  }
  .input-field,
  .output-field {
    display: flex;
    align-items: end;
    justify-content: center;
  }
  .turnBtn {
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .turnBtnImg {
    height: 25px;
  }
  
  .turnBtn:hover {
    background-color: orangered;
  }
  .turnBtn:active {
    background-color: orchid;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .grid_item {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border: 1px solid orange;
  }
  .input-currency,
  .output-currency {
    width: 100px;
    height: 40px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgb(74, 104, 135);
  }
  .input-currency {
    margin-right: 10px;
  }
  .output-currency {
    margin-right: 10px;
  }
  label {
    display: flex;
    flex-direction: column;
  }
  input[type="number"] {
    width: 120px;
    height: 40px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgb(74, 104, 135);
  }
  .resultBtn {
    display: block;
    width: 100px;
    padding: 10px 10px;
    margin-left: 10px;
    margin-top: 25px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(132, 133, 133);
    color: black;
    font-size: 16px;
    background-color: orange;
  }
  .resultBtn:hover {
    border: 1px solid rgb(132, 133, 133);
    background-color: orangered;
  }
  .resultBtn:active {
    border: 1px solid rgb(132, 133, 133);
    background-color: orchid;
  }
  