body {
    font-family: 'Rosario', sans-serif !important;
    margin: 0 auto;
    overflow-x: hidden;
}

.header {
    background-color: black;
    height: 6.719vw;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: fixed;
    z-index: 100;
    top: 0px;
}

.navbar {
    display: flex;
    gap: 2.760vw;
    align-items: center;
}

.navbar div p {
    font-family: 'Rosario', sans-serif;
    font-size: 1.875vw;
    font-style: italic;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    color: #FFFCFC;
    margin: 0;
}

.header .logo-container img {
    background-color: white;
    height: 6.719vw;
}

.contacts {
    margin-right: 20px;
}

.page1-content {
    margin-top: 10vw;
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: aqua; */
}

.column1,
.column4 {
    /* width: 367px; */
    width: 19.2vw;
}

.column2,
.column3 {
    /* width: min-content; */
    width: 24.2vw;
}

.column2pic1,
.column3pic1 {
    margin-bottom: 42px;
}

.column1pic1,
.column4pic1 {
    width: 19.2vw;
}

.column2pic1,
.column2pic2,
.column3pic1,
.column3pic2 {
    width: 24.2vw;
}


.column2pic1,
.column2pic2 {
    animation-name: middle-left-load;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes middle-left-load {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0%);
    }
}

.column3pic1,
.column3pic2 {
    animation-name: middle-right-load;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes middle-right-load {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0%);
    }
}

.column1pic1 {
    animation-name: left-load;
    transform: translateX(-200%);
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;

}

@keyframes left-load {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0%);
    }
}

.column4pic1 {
    animation-name: right-load;
    transform: translateX(200%);
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;

}

@keyframes right-load {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0%);
    }
}


.page2-content {
    margin-top: 10vw;
    width: 100%;
    /* height: 100vh; */
    /* background-color: blanchedalmond; */
}

.page2-column2pic {
    width: 50vw;
}

.page2-column1 {
    width: 50vw;
}


.page2-content {
    display: flex;
}

.page2-content p {
    font-family: Rosario;
    font-size: 2.083vw;
    font-style: italic;
    font-weight: 700;
    line-height: 3.021vw;
    letter-spacing: 0em;
    text-align: center;
}

.roundpic1-container,
.roundpic2-container,
.roundpic3-container,
.roundpic4-container {
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page2-column1 img {
    width: 13vw;
}

.page2-column1 {
    display: flex;
    position: relative;
}

.roundpic1-container {
    position: absolute;
    top: 20vw;
    left: 12vw;
    animation-name: roundpic1;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes roundpic1 {
    0% {
        transform: rotate(0deg) translateY(-14vw) rotate(0deg);

    }

    100% {
        transform: rotate(360deg) translateY(-14vw) rotate(-360deg);
    }
}

.roundpic2-container {
    position: absolute;
    top: 20vw;
    left: 12vw;
    animation-name: roundpic2;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes roundpic2 {
    0% {
        transform: rotate(0deg) translateX(14vw) rotate(0deg);

    }

    100% {
        transform: rotate(360deg) translateX(14vw) rotate(-360deg);
    }
}

.roundpic3-container {
    position: absolute;
    top: 20vw;
    left: 12vw;
    animation-name: roundpic3;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes roundpic3 {
    0% {
        transform: rotate(0deg) translateX(-14vw) rotate(0deg);

    }

    100% {
        transform: rotate(360deg) translateX(-14vw) rotate(-360deg);
    }
}

.roundpic4-container {
    position: absolute;
    top: 20vw;
    left: 12vw;
    animation-name: roundpic4;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes roundpic4 {
    0% {
        transform: rotate(0deg) translateY(14vw) rotate(0deg);

    }

    100% {
        transform: rotate(360deg) translateY(14vw) rotate(-360deg);
    }
}

.page3-content {
    margin-top: 10vw;
    width: 100%;
    /* background-color: paleturquoise; */
}

.page3-content-heading-content {
    font-family: Rosario;
    font-size: 5vw;
    font-weight: 700;
    line-height: 6.042vw;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 0px;
}

.page3-content-picsection {
    display: flex;
    justify-content: space-evenly;
}

.page3-content-picsection img {
    border-radius: 2.083vw;
    height: 35.260vw;
}


.page3-content-picsection:hover>.page3-content-picsection-pic1,
.page3-content-picsection:hover>.page3-content-picsection-pic2,
.page3-content-picsection:hover>.page3-content-picsection-pic3,
.page3-content-picsection:hover>.page3-content-picsection-pic4 {
    filter: brightness(0.5);
}

.page3-content-picsection:hover .page3-content-picsection-pic1:hover,
.page3-content-picsection:hover .page3-content-picsection-pic2:hover,
.page3-content-picsection:hover .page3-content-picsection-pic3:hover,
.page3-content-picsection:hover .page3-content-picsection-pic4:hover {
    filter: brightness(1);
}

.page3-content .page3-content-picsection p {
    font-family: Volkhov;
    margin: 0;
    color: #FFFAFA;
    font-size: 2.500vw;
    font-weight: 400;
    line-height: 3.229vw;
    letter-spacing: 0em;
    background: rgba(163, 83, 10, 0.7);
    height: 22.5%;
    width: 100%;
    border-radius: 0vw 0vw 2.083vw 2.083vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}

.page3-content-picsection div {
    border-radius: 2.083vw;
    overflow: hidden;
}

.page3-content-picsection-pic1 {
    position: relative;
}

.page3pic1-name {
    position: absolute;
    top: 100%;
}

.page3-content-picsection-pic2 {
    position: relative;
}

.page3pic2-name {
    position: absolute;
    top: 100%;
}

.page3-content-picsection-pic3 {
    position: relative;
}

.page3pic3-name {
    position: absolute;
    top: 100%;
}

.page3-content-picsection-pic4 {
    position: relative;
}

.page3pic4-name {
    position: absolute;
    top: 100%;
}

.page3-content-picsection div:hover p {
    transform: translateY(-102%);
}

.page4-content {
    margin-top: 10vw;
    width: 100%;
    /* background-color: palegreen; */
}

.page4-form-container {
    background-color: #E5E5E5;
}

.page4-content-top {
    display: flex;
    justify-content: space-evenly;
}

.page4-heading-container {
    width: 50vw;
}

.page4-heading {
    font-family: Rosario;
    font-size: 3.333vw;
    font-style: italic;
    font-weight: 700;
    line-height: 4.063vw;
    letter-spacing: 0em;
    text-align: center;
}

.page4-form {
    margin-top: 2vw;
    height: 19vw;
    width: 32vw;
}

iframe {
    width: 32vw;
    height: 29vw;
}

.nameinput {
    width: 20vw;
    height: 4vw;
    margin-top: 1.3vw;
    margin-left: 1.5vw;
    margin-right: 0;
    margin-bottom: 0;
}

.emailinput {
    width: 23.5vw;
    height: 4vw;
    margin-top: 1.3vw;
    margin-left: 2.6vw;
    margin-right: 1.5vw;
    margin-bottom: 0;
}

.messageinput {
    width: 46.5vw;
    height: 10.4vw;
    margin-top: 1.5vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-bottom: 1.6vw;
}

input {
    border: 0px;
    font-family: Rosario;
    font-size: 1.875vw;
    font-weight: 700;
    line-height: 2.292vw;
    letter-spacing: 0em;
    text-align: left;
    box-sizing: border-box;
    padding-left: 2vw;
}


.page4-content-bottom {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vw;
}

span {
    font-family: Rosario;
    font-size: 1.563vw;
    font-style: italic;
    font-weight: 600;
    line-height: 1.875vw;
    letter-spacing: 0em;
    text-align: center;
}

.page4-content-bottom-column1-content {
    font-family: Rosario;
    font-size: 1.563vw;
    font-weight: 700;
    line-height: 1.875vw;
    letter-spacing: 0em;
    text-align: center;
}

.page4-content-bottom-column2-content {
    font-family: Rosario;
    font-size: 1.875vw;
    font-weight: 700;
    line-height: 2.292vw;
    letter-spacing: 0em;
    text-align: center;
}


.page4-content-bottom-column3-content {
    font-family: Rosario;
    font-size: 1.875vw;
    font-weight: 700;
    line-height: 1.875vw;
    letter-spacing: 0em;
    text-align: center;
}

.td {
    font-family: Rosario;
    font-size: 1.563vw;
    font-weight: 600;
    line-height: 1.875vw;
    letter-spacing: 0em;
    text-align: left !important;
    font-style: italic;
}

.opening-hours {
    margin-bottom: 2vw;
}

.page4-content-bottom-column3-content table {
    display: flex;
    justify-content: center;
}

.instaIcon {
    width: 1.354vw;
}

.fbIcon {
    width: 1.927vw;
}

.twitterIcon {
    width: 1.667vw;
}

.page1-content992px {
    margin-top: 10vw;
    width: 100%;


}

.row1,
.row2,
.row3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.row1pic1,
.row1pic2 {
    width: 30vw;
}

.row2pic1,
.row2pic2 {
    width: 28vw;
    margin-top: 4.234vw;
    margin-bottom: 4.234vw;
}

.row3pic1,
.row3pic2 {
    width: 30vw;
}

.row1pic1,
.row2pic1,
.row3pic1 {
    animation-name: leftload-992;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes leftload-992 {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0%);
    }
}

.row1pic2,
.row2pic2,
.row3pic2 {
    animation-name: rightload-992;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes rightload-992 {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0%);
    }
}


@media (min-width: 993px) {
    .page1-content992px {
        display: none;
    }
}

@media (max-width: 992px) {
    .page1-content {
        display: none;
    }

    .page2-content {
        flex-direction: row-reverse;
    }

    .page3-content-picsection {
        display: grid;
        grid-template-columns: 20vw 20vw;
    }

    .page3-content-picsection-pic3,
    .page3-content-picsection-pic4 {
        margin-top: 5.645vw;
    }

    .page4-content-top {
        flex-direction: column;
        align-items: center;
    }

    .page4-content-right {
        margin-top: 4vw;
    }
}

@media (max-width: 768px) {
    .row1, .row2, .row3 {
        flex-direction: column;
    }

    .row1pic2, .row2pic1, .row2pic3, .row3pic1, .row3pic2 {
        margin-top: 4.234vw;
    }

    .row2pic1, .row2pic2 {
        margin-bottom: 0;
    }

    .page2-column2 {
        visibility: hidden;
    }

    .page2-column1 {
        position: absolute;
        left: 25vw;
    }

    .page3-content-picsection {
        display: grid;
        grid-template-columns: 20vw;
        flex-direction: column;
    }

    .page3-content-picsection-pic2, .page3-content-picsection-pic3, .page3-content-picsection-pic4 {
        margin-top: 4vw;
    }


.page4-content-left {
    order: 1;
    margin-top: 3vw;
}


}

