* {
			box-sizing: border-box;
		}

		body {
			display: flex;
			justify-content: center;
			align-items: center;
			font-family: Arial, Helvetica, sans-serif;
		}

		.calculator {
			background: rgb(26,26,26);
			padding: 10px;
			width: fit-content;
			color: white;
		}

		.calculator__inp {
			width: 270px;
			background: rgb(218,223,192);
			text-align: right;
			height: 100px;
			color: black;
			font-size: 40px;

		}

		.calculator__grid {
			padding: 10px 0 0 0;
			display: grid;
			grid-template-columns: repeat(4, 60px);
			grid-template-rows: repeat(5, 50px);
			grid-gap: 10px;

		}

		.calculator__grid>div {
			text-align: center;
			line-height: 50px;
			font-size: 20px;
			cursor: pointer;
			border-radius: 15%;
		}

		.calculator__grid>div:nth-child(17) {
			grid-row: 5;
			grid-column: 1/3;
			border-radius: 10%;
		}

		.number {
				background: linear-gradient(rgb(78,78,78), black 40%);
			  }
		

		.sign{
			background: linear-gradient(rgb(168,153,147), rgb(106,81,71) 40%);
		}

		.result {
			background: linear-gradient(rgb(156, 141, 129), rgb(255,121,1) 40%);
		}

		.toggleSign,
		.percent,
		.clear {
			background: linear-gradient(rgb(168,151,144), rgb(80,91,98) 40%);
		}