body {
    margin: 0 auto;
    max-width: 1440px;
    background-color: #212529;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1342px;
    height: 66px;
    padding-top: 21px;
}

.nav {
    display: flex;
    padding-top: 21px;
    justify-content: space-around;
    width: 33%;
}

.logo {
    width: 80px;
    height: 62px;
    position: relative;
}

.logopart1 {
    position: absolute;
    width: 30.58px;
    height: 40.87px;
    left: 6px;
    top: 4px;
}

.logopart2 {
    position: absolute;
    width: 25.61px;
    height: 24.55px;
    left: 10px;
    bottom: 9px;
}

.logopart3 {
    position: absolute;
    width: 25.61px;
    height: 24.55px;
    left: 41.5px;
    top: 3.5px;
}

.logopart4 {
    position: absolute;
    width: 30.58px;
    height: 40.87px;
    left: 41.5px;
    bottom: 8px;
}

.home_button,
.about_button,
.skills_button,
.portfolio_button,
.contact_button,
.all_container_text,
.ma_container_text,
.wdes_container_text,
.wdev_container_text {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
}


.home_button,
.skills_button,
.portfolio_button,
.contact_button,
.about_button,
.all_container_text,
.ma_container_text,
.wdes_container_text,
.wdev_container_text {
    color: #FFFFFF;
}

.home_button:hover,
.skills_button:hover,
.portfolio_button:hover,
.contact_button:hover,
.about_button:hover {
    color: #FFB742;
}

.hire_me_button,
.hire_me_button2 {
    background: #FFB742;
    border: 2px solid #FFB742;
    border-radius: 50px;
    width: 121px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hire_me_text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #212529;
}

.hi1 {
    font-family: "Inter";
    font-size: 32px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.namelink {
    color: #FFB742;
    text-decoration: underline;
}

.hi2 {
    font-family: "Inter";
    font-size: 48px;
    font-weight: 700;
    line-height: 91px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.hi3 {
    font-family: "Inter";
    font-size: 24px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.avatar {
    width: 220px;
    height: 230px;
}

.row1 {
    margin-top: 80px;
}

.row3 {
    margin-top: 23px;
}

.row4 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    margin-right: 72px;
    margin-left: 72px;
    margin-top: 136.27px;
}

.card1,
.card2,
.card3 {
    display: flex;
    background-color: #292B2E;
    height: 120px;
    width: 29%;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card1:hover,
.card2:hover,
.card3:hover {
    background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
    color: #212529;
}

.emblem_content {
    background-color: #E9E9E9;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card1_text {
    text-align: center;
    line-height: 30.88px;
}

.line1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #FFB742;
}

.line2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}


.card1:hover *,
.card2:hover *,
.card3:hover * {
    color: #212529;
}

.who_i_am {
    display: flex;
    margin: 0 auto;
    margin-top: 227.4px;
    margin-left: 5px;
    margin-right: 51px;
    justify-content: space-between;
}

.portrait {
    height: 596.0701904296875px;
    width: 620px;
}

.who_i_am_button,
.my_skills_button,
.my_works_button,
.testimonials_button {
    height: 42px;
    width: 148px;
    border-radius: 50px;
    background-color: #FFFFFF14;
    display: flex;
    justify-content: center;
    align-items: center;
}

.who_i_am_button_text,
.my_skill_button_text,
.my_works_button_text,
.testimonials_button_text {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    color: #FFB742;
}

.about_me_text,
.WMPSI_text,
.FW_text,
.WCS_text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 30px;
    color: #FFFFFF;
    line-height: 56.25px;
}

.description_text,
.description_2_text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #D5D5D5;
}

.photo {
    padding-top: 30px;
}

.about_me {
    max-width: 672px;
}

.decription {
    margin-top: 29.49px;
    margin-bottom: 54.45px;
}

.about_me {
    margin-top: 10.27px;
}


.my_skills {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 23.93px;
}

.my_skills_left_contaner {
    max-width: 672px;
    margin-left: 60px;
}

.my_skills_right_container {
    display: flex;
    max-height: 208px;
    max-width: 592px;
    margin-right: 51px;
}

.skill_1,
.skill_2,
.skill_3,
.skill_4,
.skill_5,
.skill_6,
.skill_7,
.skill_8,
.skill_9,
.skill_10,
.skill_11,
.skill_12 {
    width: 80px;
    height: 80px;
    background-color: #383E45;
    border-radius: 10px;
    display: flex;
    position: relative;
}

.skill_1:hover,
.skill_2:hover,
.skill_3:hover,
.skill_4:hover,
.skill_5:hover,
.skill_6:hover,
.skill_7:hover,
.skill_8:hover,
.skill_9:hover,
.skill_10:hover,
.skill_11:hover,
.skill_12:hover {
    background-color: #FFB74280;
}

.skill_1 {
    display: flex;
    position: relative;
}

.skill1back {
    position: absolute;
    left: 21.48px;
    top: 19px;
}

.skill1_1 {
    position: absolute;
    top: 26.73px;
    left: 28.37px;
}

.skill1_2 {
    position: absolute;
    right: 28.4px;
    top: 26.73px;
}

.skill_1,
.skill_3,
.skill_5,
.skill_7,
.skill_9,
.skill_11 {
    margin: 8px;
    margin-bottom: 0px;
}

.skill_2,
.skill_4,
.skill_6,
.skill_8,
.skill_10,
.skill_12 {
    margin: 8px;
    margin-top: 16px;
}

.description_2 {
    padding-top: 29.29px
}

.hire_me_button2 {
    margin-top: 63.25px;
}

.skill2 {
    position: absolute;
    top: 22.09px;
    left: 16.09px;
}


.skill3back {
    position: absolute;
    top: 19px;
    left: 21.48px;
}

.skill3_1 {
    position: absolute;
    top: 26.7px;
    left: 29px;
}

.skill3_2 {
    position: absolute;
    top: 42.74px;
    left: 29.86px;
}

.skill3_3 {
    position: absolute;
    top: 26.8px;
    left: 40px;
}

.skill3_4 {
    position: absolute;
    top: 40.7px;
    left: 40px;
}

.skill1back2 {
    position: absolute;
    top: 22.09px;
    left: 40px;
}

.skill3back2 {
    position: absolute;
    top: 22.09px;
    left: 40px;
}

.skill4back {
    position: absolute;
    top: 15px;
    left: 16px;
}

.skill4_1 {
    position: absolute;
    top: 36.95px;
    left: 26.6px;
}

.skill5back {
    position: absolute;
    top: 16px;
    left: 16px;
}

.skill5_1 {
    position: absolute;
    top: 37.78px;
    left: 28.62px;
}

.skill6_1 {
    position: absolute;
    top: 16.01px;
    left: 16.03px;
}

.skill6_2 {
    position: absolute;
    top: 28.11px;
    left: 28.45px;
}

.skill7_1 {
    position: absolute;
    top: 16px;
    left: 16px;
}

.skill8_1 {
    position: absolute;
    top: 26.98px;
    left: 20px;
}

.skill9back {
    position: absolute;
    top: 16px;
    left: 16px;
}

.skill9_1 {
    position: absolute;
    top: 25.47px;
    left: 29.51px;
}

.skill10_1 {
    position: absolute;
    top: 16px;
    left: 24px;
}

.skill10_2 {
    position: absolute;
    top: 32px;
    left: 24px;
}

.skill10_3 {
    position: absolute;
    top: 48px;
    left: 24px;
}

.skill10_4 {
    position: absolute;
    top: 16px;
    left: 40px;
}

.skill10_5 {
    position: absolute;
    top: 32px;
    left: 40px;
}

.skill11back {
    position: absolute;
    top: 17px;
    left: 16px;
}

.skill12back {
    position: absolute;
    top: 16px;
    left: 16px;
}

.my_works_nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.my_works_button {
    margin: 0 auto;
    margin-top: 136.71px;
}

.FW_container,
.WCS_text {
    text-align: center;
}


.all_container:hover,
.ma_container:hover,
.wdes_container:hover,
.wdev_container:hover {
    border-radius: 3px;
    background-color: #FFB742;
}

.all_container:hover *,
.ma_container:hover *,
.wdes_container:hover *,
.wdev_container:hover * {
    color: #212529;
}

.all_container_text,
.ma_container_text,
.wdes_container_text,
.wdev_container_text {
    padding: 5px 20px 5px 20px;
}

.workpic {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin: 0 auto;
}


.workpic1 {
    width: 390px;
    height: 495.71px;
}

.workpic2 {
    width: 390px;
    height: 292.5px;
}

.workpic3 {
    width: 390.24px;
    height: 292.68px;
}

.workpic4 {
    width: 390px;
    height: 495.41px;
}

.workpic5 {
    width: 390px;
    height: 495.71px;
}

.workpic6 {
    width: 390px;
    height: 291.97px;
}

.workpic_column1, .workpic_column2, .workpic_column3 {
    width: 390px;
}

.workpic1,
.workpic3,
.workpic5 {
    margin-bottom: 20px;
}

.testimonials_button {
    margin: 0 auto;
    width: 192px;
    height: 42px;
    margin-top: 135.59px;
}

.review_card1,
.review_card2,
.review_card3 {
    background-color: #FFFFFF;
    width: 378.91px;
    height: 455.11px;
    border-radius: 7.92699px;
}

.star {
    height: 12.779417991638184px;
    width: 13.042555809020996px;
}

.review_text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #000000;
}

.reviewer {
    width: 72px;
    height: 73.88px;
}

.name_container_text {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
    color: #000000;
}

.position_container_text {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    color: #000000;
}

.review_bottom {
    display: flex;
}

.review_card1_content {
    margin-left: 33px;
    margin-right: 52.91px;
}

.stars_container {
    padding-top: 51.07px;
}

.review_text_container {
    padding-top: 21.41px;
}

.review_bottom {
    padding-top: 36.94px;
}

.reviewer_right_side {
    padding-left: 24px;
}

.review_cards {

    display: flex;
    justify-content: center;
    gap: 40.09px;
    margin-top: 90.29px;
}

.footer_column1_header_text {
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: #FFB742;
}

.footer_column1_body_text {
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    color: #D4D4D4;
}

.footer_column2_header,
.footer_column3_header,
.footer_column4_header {
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    color: #F5FBF2;
}

.footer_column2_body_text,
.footer_column3_body_text,
.footer_column4_body_text {
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    color: #7B7B7B;
}

.footer_content {
    display: flex;
    padding-top: 148px;
    padding-bottom: 93.22px;
    justify-content: space-around
}

.footer {
    background-color: #1C1C1C;
    margin-top: 253.15px;
}

.footer_column1_body {
    padding-top: 30.62px;
    height: 66.33918762207031px;
    width: 253.1595001220703px;
}

.footer_column4_body {
    height: 73px;
    width: 319px;
}

.column1_list, .column2_list {
    margin-top: 13.13px;
    list-style: none;
    padding-left: 0px;
}

li:hover {
    color: #FFB742;
}